__pycache__/
/experiments/.venv/
/experiments/data/
/output.sas
/sas_plan
/sas_plan.*
/builds/
/misc/.tox/
/misc/autodoc/downward-xmlrpc.secret

# LaTeX build products (sources and generated result macros remain tracked).
/paper/*.aux
/paper/*.bbl
/paper/*.blg
/paper/*.fdb_latexmk
/paper/*.fls
/paper/*.log
/paper/*.out
/paper/*.pdf
/paper/*.synctex.gz

# CUDD
/src/search/ext/cudd-3.0.0/autom4te.cache/
/src/search/ext/cudd-3.0.0/Makefile.in
/src/search/ext/cudd-3.0.0/aclocal.m4
/src/search/ext/cudd-3.0.0/configure
/src/search/ext/cudd-3.0.0/configure~
/src/search/ext/cudd-3.0.0/config.h.in
/src/search/ext/cudd-3.0.0/config.h.in~
