*.a
*.so
*.so.*
*.o
*~
*.pb.cc
*.pb.h
*_pb2.py
config.h
fd-*
Makefile.config
src/ma_msg.pb.*
__pycache__
*.pyc
*.pyo
third-party/preprocess/preprocess
third-party/bliss/bliss_C.h
pddl/iset.h
src/iset.c
pddl/iarr.h
src/iarr.c
pddl/sarr.h
src/sarr.c
cpddl.pc
src/tmp.*
src/_version.c
src/lemon
src/_parser.c
src/_parser.h
src/_parser.out
